# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Datalake / dados brutos (grandes demais para o Git)
data/
DESPESAS/
Favorecidos - Pessoa Jurídica/
Emendas parlamentares por Documentos de Despesa/

# IDEs
.vscode/
.idea/
.DS_Store

# Node/Frontend
node_modules/
dist/
build/
.next/

# Logs
*.log
nohup.out
